<div class="sidebar">
  <h3 class="text-center fw-bold mb-4">Admin Panel</h3>

  <a href="admin.html">🏠 Dashboard</a>
  <a href="admin_booking.html">📅 Data Booking</a>
  <a href="admin_pembayaran.html">💰 Data Pembayaran</a>
  <a href="admin_user.html">👥 Data User</a>
  <a href="admin_lapangan.html">⚽ Kelola Lapangan</a>
  <a href="login_admin.html">🚪 Logout</a>

  <div class="text-center mt-4">
    <button onclick="toggleDarkMode()" class="btn btn-sm btn-outline-success">
      🌙 Dark Mode
    </button>
  </div>
</div>
